/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header {
    background-color: #fbf6e2;
    color: #7c6e2c;
    text-align: center;
    padding: 40px 0 60px 0;
}

header img {
    width: 350px;
    padding: 50px 0px 0px 0px;
}

.header-menu {
    color: #7c6e2c;
    font-size: 20px;
}

#header-content {
    padding: 10px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

#header-content a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.search-wrap {
    max-width: 400px;
    min-width: 170px;
    margin: 0 auto;
    border: 3px solid #7c6e2c;
    border-radius: 30px;
    color: #7c6e2c;
    display: flex;
    align-items: center;
}

.search-wrap i {
    padding-left: 5px;
}

.search-wrap:hover {
    background-color: #7c6f2c50;
}

#search:focus {
    outline: none !important;
}

#search {
    flex: 1;
    min-width: 370px;
    appearance: none;
    border: none;
    margin: 0;
    padding: 6px;
    font-size: 16px;
    background: none;
    color: #7c6e2c;
}

main {
    background-color: #fbf6e2;
}

.background-image {
    color: #fef4ba;
    background-image: url("../img/hello.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 40px;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    position: relative;
}

.film {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 60px;
}

.film a {
    color: #fef4ba;
}

/* Update log styles */
h1 {
    padding: 100px 0 20px 0px;
    color: #7c6e2c;

}

.update-log {
    padding: 0px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-container {
    max-width: 500px;
    max-height: 500px;
    padding-left: 100px;
    padding-right: 100px;
    background: #222;
    color: #fbf6e2;
    overflow: hidden;
    overflow-y: scroll;
}
.update-container h3{
    color:#7c6e2c;
}
.update-container p {
    padding: 10px 5px;
    text-align: justify;
}

/* About page */
h2 {
    text-align: center;
}

.about {
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    background-color: #fefcf1;
    color: #60551f;
    max-width: 900px;
    overflow: hidden;
}

.me {
    padding: 10px 20px 10px 50px;
    float: right;
    overflow: hidden;
    max-width: 200px;
}

.skills {
    background-color: #7c6e2c;
    color: #fbf6e2;
    margin: 100px 0 100px 0;
    padding: 70px;
}

.accordion{
    margin: 60px auto;
    max-width: 600px;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: #fef4ba 2px solid;
    border-radius: 20px;
    background: #7c6e2c;
    color: #fef4ba;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 10px;
}
.accordion .content{
    background-color: #fef4ba;
    color: #60551f;
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    text-align: center;
}
.progress-bar{
    border-radius: 20px;
    border:#cb5823 1px solid;
    margin: auto;
    width: 80%;
    height: 25px;
    background: #fef9f1;
    margin-bottom: 20px;
}
.percentage{
    background: #cb5823;
    border-radius: 20px;
    height: 25px;
}

.current{
    color: #60551f;
}
.projects{
    text-align: center;

}
.projects img{
    padding: 10px 40px 30px 40px;
}

/* contact page */
.contact{
    background-color: #fbf6e2;
    color: #7c6e2c;
    margin: auto;
    padding: 30px 70px 40px 70px;
    margin-top: -50px;
    text-align: center;
}
.contact a{
    color: #60551f;
    font-weight: bolder;
}

.turnip-container{
    position: relative;
    display: inline-block;
}
.turnip-container #turnip2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.turnip-container:hover #turnip2{
    display: inline;
}
.turnip-container:hover #turnip{
    opacity: 0;
}

.social-icons {
    font-size: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    color: #7c6e2c;
}

.social-icons a {
    padding: 0 5px;
    color: #7c6e2c;

}
/* animation page */

.showreel-div{
    padding-top: 20px;
    margin-top: -20px;
}
.ani-line{
    width:30%;
    color:#b9a647;
}
.video-container{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    
}
.video-two-and-three{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}
#master,#bachelor{
    padding: 0px 20px 0px 20px;
}
/* footer styles */
footer {
    background-color: #7c6e2c;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
}

footer a {
    color: #fbf6e2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    padding-top: 25px;
    margin-top: 0;
}

#footer-content {
    color: #fbf6e2;
    display: grid;
    gap: 100px;
    justify-content: center;
    max-width: 80%; 
    margin: 0 auto;
}

/* dropdown menu */
.dropbtn {
    background-color: #fbf6e2;
    color: #7c6e2c;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7c6e2c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fbf6e2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #7c6e2c;
    background-color: #fbf6e2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
